include LICENSE
include README.rst
include README.md
include CHANGELOG.md
recursive-include publications_bootstrap/templates *
recursive-include publications_bootstrap/fixtures *
recursive-include publications_bootstrap/static *
