{% extends "base.html" %}

{% block content %}
	{% if publications %}
		<a class="bibtex_link" href="?bibtex">BibTex</a>
		{% for type in types %}
				{% if type.menu_description %}
					<h1>{{ type.menu_description }}{% if forloop.first %} by {{ author }}{% endif %}</h1>
				{% else %}
					<h1>{{ type }}{% if forloop.first %} by {{ author }}{% endif %}</h1>
				{% endif %}
				<hr/>
				<div{% if not forloop.last %} style="margin-bottom: 30px;"{% endif %}>
					{% for publication in type.publications %}
						<div{% if not forloop.last %} style="margin-bottom: 20px;"{% endif %}>
							{% include "publications/publication.html" %}
						</div>
					{% endfor %}
				</div>
		{% endfor %}
	{% else %}
		<h2>Sorry,</h2>
		no publications found for {{ author }}.
	{% endif %}
{% endblock %}
