<table style="width: 100%;">
{% for publication in publications %}
	<tr>
		<td style="width: 100px; padding: 5px 10px 0px 0px; vertical-align: top;">
		{% if publication.thumbnail %}
			{% if publication.code %}
				<a href="{{ publication.code }}"><img src="{{ MEDIA_URL }}{{ publication.thumbnail }}" style="width: 100px; height: 100px;" /></a>
			{% else %}
			<a href="{% url 'publications:id' publication.pk %}"><img src="{{ MEDIA_URL }}{{ publication.thumbnail }}" style="width: 100px; height: 100px;" /></a>
			{% endif %}
		{% endif %}
		</td>
		<td{% if not forloop.last %} style="padding-bottom: 20px; vertical-align: top;"{% endif %}>
			{% include "publications/publication.html" %}
		</td>
	</tr>
{% endfor %}
</table>
