{% extends "base.html" %}

{% block content %}
	<a class="bibtex_link" href="?bibtex">BibTex</a>
	{% for year, publications in years %}
		<a href="/publications/year/{{ year }}/"><h1>{{ year }}</h1></a>
		<hr/>
		<div{% if not forloop.last %} style="margin-bottom: 30px;"{% endif %}>
		{% for publication in publications %}
			<div{% if not forloop.last %} style="margin-bottom: 20px;"{% endif %}>
				{% include "publications/publication.html" %}
			</div>
		{% endfor %}
		</div>
	{% endfor %}
{% endblock %}
